<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {data: 'MARVEL BUNCH'}) %>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admins/<%= adminId %>/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admins/<%= adminId %>/logout">Logout<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <center>
        <% if (errorText) { %>
            <h3> <%= errorText %> </h3>
        <% } else { %>
            <h3></h3>
        <% } %> 

        <form action="/admins/<%= adminId %>/<%= data.id %>/edit", method="post">
            <label>Hero Name</label><br>
            <input type="text" name="name", value="<%= data.name %> " required><br>
            <br>
            <label>Link Image</label><br>
            <textarea name="link", rows="5", cols="50"> <%= data.link_image %></textarea><br>
            <br>
            <input type="submit" value="EDIT HERO">
        </form>
    </center>
</body>
</html>