<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MARVEL BUNCH</title>
</head>
<body>
    <center>
        <% if (errorText) { %>
            <h3> <%= errorText %> </h3>
        <% } else { %>
            <h3></h3>
        <% } %> 

        <form action="/admins/<%= adminId %>/<%= data.id %>/edit", method="post">
            <label>Hero Name</label><br>
            <input type="text" name="name", value="<%= data.name %> " required><br>
            <br>
            <label>Link Image</label><br>
            <textarea name="link", rows="5", cols="50"> <%= data.link_image %></textarea><br>
            <br>
            <input type="submit" value="EDIT HERO">
        </form>
    </center>
</body>
</html>