<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MARVEL BRUNCH</title>
</head>
<body>
    <center>
        <table>
            <thead>
                <tr>
                    <th>HERO ID</th>
                    <th>HERO NAME</th>
                    <th>IMAGE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <h1>Welcome admin <%= admin.name %> </h1>
                <h2>Nice To Meet You again</h2>
                <a href="/admins/<%= admin.id %>/add">Add Hero</a>

                <% if (message) { %>
                    <h3 style="color: red;"> <%= message %> </h3>
                <% } else { %>
                    <h3></h3>
                <% } %> 

                <% for (let i in data) { %>
                    <tr>
                        <td> <%= data[i].id %> </td>
                        <td> <%= data[i].name %> </td>
                        <td> <img src="<%= data[i].link_image %>" style="width: 100px; height: 100px;"> </td>
                        <td>
                            <a href="/admins/<%= admin.id %>/<%= data[i].id %>/edit/">Edit</a>
                            <a href="/admins/<%= admin.id %>/<%= data[i].id %>/remove/" onclick="return confirm('Are You Sure Remove This Hero')" >Remove</a>
                        </td>
                    </tr>
                <% }  %> 
            </tbody>
        </table>
    </center>
</body>
</html>